* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Bebas Neue', serif;
}

@font-face {
    font-family: BebasNeue;
    src: url(../fonts/BebasNeue-Regular.ttf);
}

#codereview {
    color: white;
    background-color: black;
    text-align: center;
    font-size: 1.7rem;
    padding: 25px 0;
}

.introduction {
    text-align: center;
    padding: 25px 0;
}

input, select {
    background-color: rgb(238, 238, 238);
}

::placeholder {
    font-style: italic;
    text-align: right;
}

input[type=text], input[type=email], input[type=tel], input[type=address-line1],
input[type=address-line2], input[type=zip], select[id=state] {
    border: 2px solid white;
    border-radius: 5px;
    padding: 15px;
  }

input[type=textarea] {
    border: 2px solid white;
    border-radius: 5px;
    padding: 30px;
}

.button {
    border: 2px solid white;
    border-radius: 5px;
    padding: 15px;
    color: white;
    background-color: rgb(59, 189, 178);
    font-size: 1.2rem;
}

.container1, .container2 {
    flex-direction: column;
    border: 0px;
}

.item1, .item2, .item3, .item4, 
.item5, .item6, item7, .item13, .item14 { 
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

footer {
    font-style: italic;
    text-align: center;
    padding: 20px;
}

@media screen and (min-width: 768px) {

}
