* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Bebas Neue', serif;
}

@font-face {
    font-family: BebasNeue;
    src: url(../fonts/BebasNeue-Regular.ttf);
}

#codereview {
    color: white;
    background-color: rgb(36, 46, 66);
    text-align: center;
    font-size: 1.7rem;
    padding: 25px 0;
}

.introduction {
    text-align: center;
    padding: 25px 0;
    margin: 4px 0px;
    border-bottom: solid 4px;
}

fieldset {
    display: flex;
    flex-direction: column;
    border-style: solid;
    border-color: black;
    border-right: none;
    border-left: none;
    border-bottom: none;
}

p, .container1, .container2, ::placeholder, select[id=state] {
    color: rgb(161, 161, 161);
}

legend {
    color: black;
    font-size: 1.4rem;
    padding: 15px 0px;
}

input, select {
    background-color: rgb(238, 238, 238);
}

::placeholder {
    font-style: italic;
    text-align: right;
}

input:focus, select[id=state]:focus { 
    outline-color:rgb(59, 189, 178);
}

.container2 p, {
    margin-top: 5px;
}

.item8, .item9, .item10, .item11, 
.item12, .item13, .item14 {
    padding: 8px;
}

input[type=radio], input[type=checkbox] {
    margin-right: 8px;
}

input[type=text], input[type=email], input[type=tel], input[type=address-line1],
input[type=address-line2], input[type=zipS], select[id=state] {
    border: 2px solid white;
    border-radius: 5px;
    padding: 15px;
  }

input[type=textarea] {
    border: 2px solid white;
    border-radius: 5px;
    padding: 30px;
}

.button {
    border: 2px solid white;
    border-radius: 5px;
    padding: 15px;
    color: white;
    background-color: rgb(59, 189, 178);
    font-size: 1.2rem;
}

.container1, .container2 {
    flex-direction: column;
    border: 0px;
    padding-bottom: 10px;
}

.item1, .item2, .item3, .item4, 
.item5, .item6, item7, .item13, .item14 { 
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

footer {
    font-style: italic;
    text-align: center;
    padding-bottom: 80px;
}

@media screen and (min-width: 768px) {
}

/*fieldset {
    margin: 0px 250px;
}
*/