* {
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: Merriweather;
    src: url(../fonts/Merriweather/);
}

#codereview {
    color: white;
    background-color: black;
    text-align: center;
    font-size: 1.7rem;
    padding: 25px 0;
}

.introduction {
    text-align: center;
    padding: 25px 0;
}

input, select {
    background-color: rgb(238, 238, 238);
}

.button {
    color: white;
    background-color: rgb(79, 206, 164);
}

.container1, .container2 {
    flex-direction: column;
}

.item1, .item2, .item3, .item4, 
.item5, .item6, item7, .item13 { 
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.button { 
    
}

::placeholder {
    text-align: right;
}

@media screen and (min-width: 768px) {

}
